.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
}

#Landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#Landing h1 {
  font-family: Playfair Display;
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px #f2f2f2;
}
#Landing div {
  margin-top: 50px;
  width: 25vw;
  height: 50vh;
}
#Landing div .clock {
  position: fixed;
  width: auto;
  height: 50vh;
  z-index: 1;
  transition: 1s;
}
#Landing div .pomoCat {
  position: static;
  transform: rotate(135deg);
  z-index: 0;
  height: 50vh;
  width: auto;
  transition: 1s;
}
#Landing div:hover .clock {
  transform: scale(1.1);
}
#Landing div:hover .pomoCat {
  transform: scale(0.8) rotate(135deg);
  margin: 13em 0 0 14em;
}

#Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#Home .container-home, #Home .result-home {
  z-index: 0;
  border: #000 solid 2px;
  background-color: rgba(255, 255, 255, 0.9176470588);
  border-radius: 5%;
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#Home .container-home .images-back, #Home .result-home .images-back {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#Home .container-home .images-back .images-button, #Home .result-home .images-back .images-button {
  display: grid;
  grid-template-rows: 140px 140px;
  grid-template-columns: 230px 230px;
  grid-gap: 10px;
}
#Home .container-home .images-back .images-button #button-back, #Home .result-home .images-back .images-button #button-back {
  background-color: #a9d6ec;
}
#Home .container-home .images-back .images-button #button-back:hover, #Home .result-home .images-back .images-button #button-back:hover {
  background-color: #00c3ff;
}
#Home .container-home .images-back .images-button #button-back-active, #Home .result-home .images-back .images-button #button-back-active {
  background-color: #3172ff;
}
#Home .container-home .images-back .images-button #environment, #Home .result-home .images-back .images-button #environment {
  width: 200px;
  margin: 5px;
}
#Home .container-home .kitty, #Home .result-home .kitty {
  width: 90%;
}
#Home .container-home #divisores, #Home .result-home #divisores {
  z-index: 1;
  border: #000 solid 1px;
  background-color: rgba(199, 244, 255, 0.6117647059);
  border-radius: 6%;
  padding-top: 0;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  width: 80%;
}
#Home .container-home #divisores .config-Timer-time, #Home .result-home #divisores .config-Timer-time {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}
#Home .container-home #divisores .config-Timer-time #time, #Home .result-home #divisores .config-Timer-time #time {
  z-index: 20;
  background-color: #58a9ff;
  border-radius: 25% 25% 25% 25%;
  border: none;
  color: #f2f2f2;
  transition: 0.5s;
  height: 45px;
  font-size: 20px;
}
#Home .container-home #divisores .config-Timer-time #time:hover, #Home .result-home #divisores .config-Timer-time #time:hover {
  cursor: pointer;
  transform: scale(1.18);
}
#Home .container-home #divisores .config-Timer-time #time-active, #Home .result-home #divisores .config-Timer-time #time-active {
  background-color: #58a9ff;
  border: 0.8px solid black;
  color: #f2f2f2;
  border-radius: 25% 25% 25% 25%;
  transform: scale(1.15);
  transition: 0.5s;
  height: 45px;
  font-size: 20px;
}
#Home .container-home #divisores .config-Timer-sessions, #Home .result-home #divisores .config-Timer-sessions {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}
#Home .container-home #divisores .config-Timer-sessions #Background, #Home .result-home #divisores .config-Timer-sessions #Background {
  background-color: #58a9ff;
  border-radius: 25% 25% 25% 25%;
  border: none;
  color: #f2f2f2;
  transition: 0.5s;
  height: 45px;
  font-size: 20px;
}
#Home .container-home #divisores .config-Timer-sessions #Background:hover, #Home .result-home #divisores .config-Timer-sessions #Background:hover {
  cursor: pointer;
  transform: scale(1.18);
}
#Home .container-home #divisores .config-Timer-sessions #Background-active, #Home .result-home #divisores .config-Timer-sessions #Background-active {
  background-color: #58a9ff;
  border: 0.8px solid black;
  color: #f2f2f2;
  border-radius: 25% 25% 25% 25%;
  transform: scale(1.15);
  transition: 0.5s;
  height: 45px;
  font-size: 20px;
}
#Home .container-home #divisores .config-Timer-sessions #sessions, #Home .result-home #divisores .config-Timer-sessions #sessions {
  background-color: #58a9ff;
  border-radius: 25% 25% 25% 25%;
  border: none;
  color: #f2f2f2;
  transition: 0.5s;
  height: 45px;
  font-size: 20px;
}
#Home .container-home #divisores .config-Timer-sessions #sessions:hover, #Home .result-home #divisores .config-Timer-sessions #sessions:hover {
  cursor: pointer;
  transform: scale(1.18);
}
#Home .container-home #divisores .config-Timer-sessions #sessions-active, #Home .result-home #divisores .config-Timer-sessions #sessions-active {
  background-color: #58a9ff;
  border: 0.8px solid black;
  color: #f2f2f2;
  border-radius: 25% 25% 25% 25%;
  transform: scale(1.15);
  transition: 0.5s;
  height: 45px;
  font-size: 20px;
}
#Home .container-home .btn-start, #Home .result-home .btn-start {
  background-color: #58a9ff;
  color: #f2f2f2;
  width: 100px;
  height: 50px;
  font-size: 25px;
  border-radius: 20%;
  transition: 1s;
}
#Home .container-home .btn-start:hover, #Home .result-home .btn-start:hover {
  cursor: pointer;
}
#Home .container-home .btn-start-disabled, #Home .result-home .btn-start-disabled {
  background-color: #a9d6ec;
  color: rgba(255, 255, 255, 0.9176470588);
  width: 100px;
  height: 50px;
  font-size: 25px;
  border-radius: 20%;
}

#Timer {
  width: 100vw;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Timer .buttons-timer {
  position: absolute;
  top: 10px;
  background-color: rgba(39, 190, 255, 0.4980392157);
  border-radius: 50%;
  height: 150px;
}
#Timer .buttons-timer img {
  width: 150px;
  transition: 0.3s;
}
#Timer .buttons-timer img:hover {
  cursor: pointer;
}
#Timer .buttons-timer img:active {
  transform: scale(0.8);
}
#Timer .timer-status {
  margin-top: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 50%;
  height: 10%;
  z-index: 1;
}
#Timer .timer-status h2 {
  font-family: Playfair Display;
  margin: 0;
  font-size: 70px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px #f2f2f2;
}
#Timer .time {
  height: auto;
  z-index: 1;
  display: flex;
  justify-content: start;
}
#Timer .time h1 {
  font-family: Playfair Display;
  font-size: 400px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 8px #f2f2f2;
  margin: 0;
}
#Timer .ProgressBar {
  margin-top: 50px;
  width: 70%;
}

#Preview {
  height: 99%;
  border: 3px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#Preview .prev-img img {
  width: 30px;
}
#Preview .prev-status {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#Preview .prev-status h3 {
  font-family: Playfair Display;
  font-size: 20px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px #f2f2f2;
}
#Preview h3 {
  font-family: Playfair Display;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 80px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 2px #f2f2f2;
}

#Videos {
  border: #000 solid 3px;
  height: 250px;
  width: 440px;
  display: flex;
  flex-direction: column;
}
#Videos .videoloop {
  position: fixed;
  top: 10;
  right: 235px;
  width: 25%;
  height: 30%;
  z-index: -2;
}
#Videos .videoloop video {
  height: 250px;
}
#Videos .text {
  margin-top: 40px;
}
#Videos .text .prev-status {
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-evenly;
}
#Videos .text .prev-status h3 {
  font-family: Playfair Display;
  font-size: 20px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px #f2f2f2;
}
#Videos .text h3 {
  font-family: Playfair Display;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 80px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 2px #f2f2f2;
}

#VideoTimer {
  position: fixed;
  z-index: 0;
}

#Footer {
  border-radius: 20% 20% 20% 20%;
  height: 60px;
  bottom: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5490196078);
}
#Footer #social a {
  margin: 0 10px 0 10px;
}
#Footer div {
  margin: 0 20px 0 20px;
}
#Footer div h2 a {
  font-size: 30px;
  color: #2f91fa;
  -webkit-text-stroke: 0.7px #f2f2f2;
  text-decoration: none;
}
#Footer img {
  width: 70px;
}

#backButton {
  position: absolute;
  top: 1vh;
  left: 1vw;
  z-index: 10;
}
#backButton div {
  width: 100%;
  background: linear-gradient(#2f91fa, #00c3ff);
  border-radius: 50%;
  border: #3172ff solid 3px;
}
#backButton div img {
  width: 5vw;
  padding-right: 4px;
}
#backButton div:hover {
  cursor: pointer;
  background: linear-gradient(#3b9aff, #33cfff);
}

/* ---------------------------- VERTICAL ---------------------------- */
@media (min-width: 600px) and (max-width: 1024px) {
  #Landing h1 {
    font-size: 80px;
    margin-bottom: 40px;
  }
  #Landing div {
    width: auto;
  }
  #Landing div .clock {
    z-index: 10;
    transition: 1s;
    position: relative;
  }
  #Landing div .pomoCat {
    position: absolute;
    margin: 50px 0px 0px -370px;
    z-index: 0;
    height: 40vh;
    transition: 1s;
    transform: rotate(0deg);
  }
  #Landing div:active .clock {
    transform: scale(0.9);
  }
  #Landing div:active .pomoCat {
    transform: scale(1);
    margin: -150px 0px 0px -370px;
  }
  #Landing div:hover .clock {
    transform: scale(1.1);
  }
  #Landing div:hover .pomoCat {
    transform: scale(1) rotate(0deg);
    margin: -150px 0px 0px -370px;
  }
  #Home .container-home, #Home .result-home {
    width: 40vw;
  }
  #Home .container-home #divisores, #Home .result-home #divisores {
    width: 80%;
  }
  #Home .container-home #divisores .config-Timer-time #time, #Home .result-home #divisores .config-Timer-time #time {
    height: 45px;
    font-size: 20px;
    width: auto;
  }
  #Home .container-home #divisores .config-Timer-time #time-active, #Home .result-home #divisores .config-Timer-time #time-active {
    height: 45px;
    font-size: 20px;
    width: auto;
  }
  #Home .container-home #divisores .config-Timer-sessions #Background, #Home .result-home #divisores .config-Timer-sessions #Background {
    height: 45px;
    font-size: 15px;
    width: auto;
  }
  #Home .container-home #divisores .config-Timer-sessions #Background-active, #Home .result-home #divisores .config-Timer-sessions #Background-active {
    height: 45px;
    font-size: 15px;
    width: auto;
  }
  #Home .container-home #divisores .config-Timer-sessions #sessions, #Home .result-home #divisores .config-Timer-sessions #sessions {
    height: 45px;
    font-size: 15px;
    width: auto;
  }
  #Home .container-home #divisores .config-Timer-sessions #sessions-active, #Home .result-home #divisores .config-Timer-sessions #sessions-active {
    height: 45px;
    font-size: 15px;
    width: auto;
  }
  #Home .container-home .images-back, #Home .result-home .images-back {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #Home .container-home .images-back .images-button, #Home .result-home .images-back .images-button {
    display: flex;
    flex-direction: column;
    width: 165px;
    margin-bottom: 20px;
  }
  #Home .container-home .images-back .images-button #button-back, #Home .result-home .images-back .images-button #button-back {
    background-color: #a9d6ec;
  }
  #Home .container-home .images-back .images-button #button-back:hover, #Home .result-home .images-back .images-button #button-back:hover {
    background-color: #00c3ff;
  }
  #Home .container-home .images-back .images-button #button-back-active, #Home .result-home .images-back .images-button #button-back-active {
    background-color: #58a9ff;
  }
  #Home .container-home .images-back .images-button #environment, #Home .result-home .images-back .images-button #environment {
    width: 140px;
    margin: 5px;
  }
  #Home .container-home .kitty, #Home .result-home .kitty {
    height: 110px;
  }
  #Timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  #Timer .timer-status {
    width: 90%;
  }
  #Timer .timer-status h2 {
    font-size: 60px;
  }
  #Timer .time h1 {
    font-size: 230px;
    -webkit-text-stroke: 5px #f2f2f2;
  }
  #Timer .ProgressBar {
    width: 75%;
  }
  #backButton div {
    border-radius: 50%;
    border: #3172ff solid 3px;
  }
  #backButton div img {
    width: 7vw;
    padding-right: 4px;
  }
}
@media (max-width: 590px) {
  #Landing h1 {
    font-size: 80px;
    margin-bottom: 40px;
  }
  #Landing div {
    width: auto;
  }
  #Landing div .clock {
    z-index: 10;
    height: 40vh;
    transition: 1s;
    position: relative;
  }
  #Landing div .pomoCat {
    position: absolute;
    height: 35vh;
    margin: 20px 0px 0px -310px;
    z-index: 0;
    transition: 1s;
    transform: rotate(0deg);
  }
  #Landing div:active .clock {
    transform: scale(0.9);
  }
  #Landing div:active .pomoCat {
    transform: scale(1);
    margin: -150px 0px 0px -310px;
  }
  #Landing div:hover .clock {
    transform: scale(0.9);
  }
  #Landing div:hover .pomoCat {
    transform: scale(1) rotate(0deg);
    margin: -150px 0px 0px -310px;
  }
  #Home .container-home, #Home .result-home {
    width: 40vw;
  }
  #Home .container-home #divisores, #Home .result-home #divisores {
    width: 80%;
  }
  #Home .container-home #divisores .config-Timer-time, #Home .result-home #divisores .config-Timer-time {
    display: grid;
    grid-template-columns: 40% 40%;
    display: flex;
    justify-content: space-around;
  }
  #Home .container-home #divisores .config-Timer-time #time, #Home .result-home #divisores .config-Timer-time #time {
    height: 45px;
    font-size: 80%;
    width: auto;
  }
  #Home .container-home #divisores .config-Timer-time #time-active, #Home .result-home #divisores .config-Timer-time #time-active {
    height: 45px;
    font-size: 70%;
    width: auto;
  }
  #Home .container-home #divisores .config-Timer-sessions, #Home .result-home #divisores .config-Timer-sessions {
    display: grid;
    grid-template-columns: 40% 40%;
    row-gap: 5px;
  }
  #Home .container-home #divisores .config-Timer-sessions #Background, #Home .result-home #divisores .config-Timer-sessions #Background {
    height: 45px;
    font-size: 55%;
    display: flex;
    align-self: start;
    width: auto;
  }
  #Home .container-home #divisores .config-Timer-sessions #Background-active, #Home .result-home #divisores .config-Timer-sessions #Background-active {
    height: 45px;
    font-size: 11px;
    width: auto;
  }
  #Home .container-home #divisores .config-Timer-sessions #sessions, #Home .result-home #divisores .config-Timer-sessions #sessions {
    height: 45px;
    font-size: 55%;
  }
  #Home .container-home #divisores .config-Timer-sessions #sessions-active, #Home .result-home #divisores .config-Timer-sessions #sessions-active {
    height: 45px;
    font-size: 12px;
    width: auto;
  }
  #Home .container-home .images-back, #Home .result-home .images-back {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #Home .container-home .images-back .images-button, #Home .result-home .images-back .images-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110%;
    margin-bottom: 20px;
  }
  #Home .container-home .images-back .images-button #button-back, #Home .result-home .images-back .images-button #button-back {
    background-color: #a9d6ec;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #Home .container-home .images-back .images-button #button-back:hover, #Home .result-home .images-back .images-button #button-back:hover {
    background-color: #00c3ff;
  }
  #Home .container-home .images-back .images-button #button-back-active, #Home .result-home .images-back .images-button #button-back-active {
    background-color: #58a9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #Home .container-home .images-back .images-button #environment, #Home .result-home .images-back .images-button #environment {
    width: 100%;
  }
  #Timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 30px;
  }
  #Timer .time {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  #Timer .time h1 {
    font-size: 700%;
    -webkit-text-stroke: 5px #f2f2f2;
  }
  #Timer .timer-status {
    width: 90%;
    margin-bottom: 5vh;
  }
  #Timer .timer-status h2 {
    font-size: 50px;
  }
  #Timer .ProgressBar {
    width: 80%;
    margin-bottom: 8vh;
  }
  #Footer div h2 a {
    font-size: 120%;
  }
  #Footer img {
    width: 9vw;
  }
  #backButton div {
    border-radius: 50%;
    border: #3172ff solid 3px;
  }
  #backButton div img {
    width: 7vw;
    padding-right: 4px;
  }
}
/* --------------------------- HORIZONTAL --------------------------- */
@media (max-height: 450px) and (max-width: 1024px) {
  #Landing h1 {
    font-size: 80px;
    margin-bottom: 40px;
  }
  #Landing div {
    width: auto;
  }
  #Landing div .clock {
    z-index: 10;
    transition: 1s;
    position: relative;
  }
  #Landing div .pomoCat {
    position: absolute;
    margin: 20px 0px 0px -200px;
    z-index: 0;
    height: 40vh;
    transition: 1s;
    transform: rotate(0deg);
  }
  #Landing div:active .clock {
    transform: scale(0.9);
  }
  #Landing div:active .pomoCat {
    transform: scale(1);
    margin: -90px 0px 0px -200px;
  }
  #Landing div:hover .clock {
    transform: scale(0.9);
  }
  #Landing div:hover .pomoCat {
    transform: scale(1) rotate(0deg);
    margin: -90px 0px 0px -200px;
  }
  #Home .container-home, #Home .result-home {
    width: 40vw;
  }
  #Home .container-home #divisores, #Home .result-home #divisores {
    width: 80%;
    height: 20%;
  }
  #Home .container-home #divisores .config-Timer-time #time, #Home .result-home #divisores .config-Timer-time #time {
    height: 30px;
    font-size: 15px;
    width: auto;
    margin-bottom: 5%;
  }
  #Home .container-home #divisores .config-Timer-time #time-active, #Home .result-home #divisores .config-Timer-time #time-active {
    height: 30px;
    font-size: 15px;
    width: auto;
    margin-bottom: 5%;
  }
  #Home .container-home #divisores .config-Timer-sessions #Background, #Home .result-home #divisores .config-Timer-sessions #Background {
    height: 30px;
    font-size: 15px;
    width: auto;
    margin-bottom: 5%;
  }
  #Home .container-home #divisores .config-Timer-sessions #Background-active, #Home .result-home #divisores .config-Timer-sessions #Background-active {
    height: 30px;
    font-size: 15px;
    width: auto;
    margin-bottom: 5%;
  }
  #Home .container-home #divisores .config-Timer-sessions #sessions, #Home .result-home #divisores .config-Timer-sessions #sessions {
    height: 30px;
    font-size: 15px;
    width: auto;
    margin-bottom: 5%;
  }
  #Home .container-home #divisores .config-Timer-sessions #sessions-active, #Home .result-home #divisores .config-Timer-sessions #sessions-active {
    height: 30px;
    font-size: 15px;
    width: auto;
    margin-bottom: 5%;
  }
  #Home .container-home .images-back, #Home .result-home .images-back {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-right: 10px;
  }
  #Home .container-home .images-back .images-button, #Home .result-home .images-back .images-button {
    display: grid;
    grid-template-rows: 45% 45%;
    grid-template-columns: 80% 80%;
    grid-gap: 10px;
  }
  #Home .container-home .images-back .images-button #button-back, #Home .result-home .images-back .images-button #button-back {
    background-color: #a9d6ec;
  }
  #Home .container-home .images-back .images-button #button-back:hover, #Home .result-home .images-back .images-button #button-back:hover {
    background-color: #00c3ff;
  }
  #Home .container-home .images-back .images-button #button-back-active, #Home .result-home .images-back .images-button #button-back-active {
    background-color: #58a9ff;
  }
  #Home .container-home .images-back .images-button #environment, #Home .result-home .images-back .images-button #environment {
    width: 95%;
    margin: 5px;
  }
  #Home .container-home .kitty, #Home .result-home .kitty {
    height: 20%;
  }
  #Timer {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  #Timer .buttons-timer {
    position: absolute;
    top: 10px;
    background-color: rgba(39, 190, 255, 0.4980392157);
    border-radius: 50%;
    height: 100px;
  }
  #Timer .buttons-timer img {
    width: 100px;
    transition: 0.3s;
  }
  #Timer .buttons-timer img:hover {
    cursor: pointer;
  }
  #Timer .buttons-timer img:active {
    transform: scale(0.8);
  }
  #Timer .time {
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
  }
  #Timer .time h1 {
    font-size: 160px;
    -webkit-text-stroke: 5px #f2f2f2;
  }
  #Timer .timer-status {
    width: 90%;
  }
  #Timer .timer-status h2 {
    font-size: 50px;
  }
  #Timer .ProgressBar {
    width: 80%;
    margin-bottom: 5vh;
  }
  #Footer {
    height: 5%;
  }
  #Footer #social a {
    margin: 0 10px 0 10px;
  }
  #Footer div {
    margin: 0 5px;
  }
  #Footer div h2 {
    font-size: 15px;
  }
  #Footer div h2 a {
    font-size: 20px;
    -webkit-text-stroke: 0.7px #f2f2f2;
  }
  #Footer img {
    width: 25px;
  }
}/*# sourceMappingURL=App.css.map */