.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
}

#Landing {
  color: #22214e;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#Landing h1 {
  font-family: Playfair Display;
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px #f2f2f2;
}
#Landing div {
  margin-top: 50px;
  width: 25vw;
  height: 50vh;
}
#Landing div .clock {
  position: fixed;
  width: auto;
  height: 50vh;
  z-index: 1;
  transition: 1s;
}
#Landing div .pomoCat {
  position: static;
  transform: rotate(135deg);
  z-index: 0;
  height: 50vh;
  width: auto;
  transition: 1s;
}
#Landing div:hover .clock {
  transform: scale(1.1);
}
#Landing div:hover .pomoCat {
  transform: scale(0.8) rotate(135deg);
  margin: 13em 0 0 14em;
}

#Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#Home .container-home, #Home .result-home {
  border: #000 solid 2px;
  background-color: #ffffff;
  border-radius: 5%;
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#Home .container-home .demo, #Home .result-home .demo {
  width: 450px;
  height: 250px;
}
#Home .container-home .kitty, #Home .result-home .kitty {
  height: 150px;
}
#Home .container-home #divisores, #Home .result-home #divisores {
  border: #000 solid 1px;
  background-color: rgba(0, 0, 0, 0.1254901961);
  border-radius: 6%;
  padding-top: 0;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  width: 80%;
}
#Home .container-home #divisores .config-Timer-time, #Home .result-home #divisores .config-Timer-time {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}
#Home .container-home #divisores .config-Timer-time #time, #Home .result-home #divisores .config-Timer-time #time {
  background-color: #58a9ff;
  border-radius: 25% 25% 25% 25%;
  border: none;
  color: #f2f2f2;
  height: 45px;
  font-size: 20px;
  transition: 0.5s;
}
#Home .container-home #divisores .config-Timer-time #time:hover, #Home .result-home #divisores .config-Timer-time #time:hover {
  cursor: pointer;
  transform: scale(1.18);
}
#Home .container-home #divisores .config-Timer-time #time-active, #Home .result-home #divisores .config-Timer-time #time-active {
  background-color: #58a9ff;
  border: 0.8px solid black;
  color: #f2f2f2;
  border-radius: 25% 25% 25% 25%;
  height: 45px;
  font-size: 20px;
  transform: scale(1.15);
  transition: 0.5s;
}
#Home .container-home #divisores .config-Timer-sessions, #Home .result-home #divisores .config-Timer-sessions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}
#Home .container-home #divisores .config-Timer-sessions #sessions, #Home .result-home #divisores .config-Timer-sessions #sessions {
  background-color: #58a9ff;
  border-radius: 25% 25% 25% 25%;
  border: none;
  color: #f2f2f2;
  height: 45px;
  font-size: 20px;
  transition: 0.5s;
}
#Home .container-home #divisores .config-Timer-sessions #sessions:hover, #Home .result-home #divisores .config-Timer-sessions #sessions:hover {
  cursor: pointer;
  transform: scale(1.18);
}
#Home .container-home #divisores .config-Timer-sessions #sessions-active, #Home .result-home #divisores .config-Timer-sessions #sessions-active {
  background-color: #58a9ff;
  border: 0.8px solid black;
  color: #f2f2f2;
  border-radius: 25% 25% 25% 25%;
  height: 45px;
  font-size: 20px;
  transform: scale(1.15);
  transition: 0.5s;
}
#Home .container-home #divisores .config-Timer-background, #Home .result-home #divisores .config-Timer-background {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}
#Home .container-home #divisores .config-Timer-background #color, #Home .result-home #divisores .config-Timer-background #color {
  margin-right: 10px;
  width: 48px;
  height: 48px;
  border: 1px solid #000;
  border-radius: 50%;
  transition: 0.5s;
}
#Home .container-home #divisores .config-Timer-background #color:hover, #Home .result-home #divisores .config-Timer-background #color:hover {
  cursor: pointer;
  transform: scale(1.05);
}
#Home .container-home #divisores .config-Timer-background #color-active, #Home .result-home #divisores .config-Timer-background #color-active {
  border: 3px solid #00c3ff;
  margin-right: 10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transform: scale(1.1);
}
#Home .container-home #divisores .config-Timer-background .default, #Home .result-home #divisores .config-Timer-background .default {
  background-color: #a9d6ec;
}
#Home .container-home #divisores .config-Timer-background .grey, #Home .result-home #divisores .config-Timer-background .grey {
  background-color: #4d4d4d;
}
#Home .container-home #divisores .config-Timer-background .green, #Home .result-home #divisores .config-Timer-background .green {
  background-color: #1a9825;
}
#Home .container-home #divisores .config-Timer-background .blue, #Home .result-home #divisores .config-Timer-background .blue {
  background-color: #080064;
}
#Home .container-home #divisores .config-Timer-background .violet, #Home .result-home #divisores .config-Timer-background .violet {
  background-color: #330b56;
}
#Home .container-home #divisores .config-Timer-background .dark, #Home .result-home #divisores .config-Timer-background .dark {
  background-color: #191818;
}
#Home .container-home .btn-start, #Home .result-home .btn-start {
  background-color: #58a9ff;
  color: #f2f2f2;
  width: 100px;
  height: 50px;
  font-size: 25px;
  border-radius: 20%;
  transition: 1s;
}
#Home .container-home .btn-start:hover, #Home .result-home .btn-start:hover {
  cursor: pointer;
}
#Home .container-home .btn-start-disabled, #Home .result-home .btn-start-disabled {
  background-color: #a9d6ec;
  color: #ffffff;
  width: 100px;
  height: 50px;
  font-size: 25px;
  border-radius: 20%;
}

#Timer {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Timer .buttons-timer {
  position: absolute;
  top: 10px;
}
#Timer .buttons-timer img {
  width: 150px;
  transition: 0.3s;
}
#Timer .buttons-timer img:hover {
  cursor: pointer;
}
#Timer .buttons-timer img:active {
  transform: scale(0.8);
}
#Timer .timer-status {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 50%;
  height: 10%;
}
#Timer .timer-status h2 {
  margin: 0;
  font-size: 50px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px #f2f2f2;
}
#Timer .time {
  height: auto;
  display: flex;
  justify-content: start;
}
#Timer .time h1 {
  font-size: 390px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 8px #f2f2f2;
  margin: 0;
}
#Timer .ProgressBar {
  margin-top: 30px;
  width: 70%;
}

#Preview {
  height: 99%;
  border: 3px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#Preview .prev-img img {
  width: 30px;
}
#Preview .prev-status {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#Preview .prev-status h3 {
  font-size: 20px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px #f2f2f2;
}
#Preview h3 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 80px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 2px #f2f2f2;
}

@media (max-width: 720px) {
  #Landing {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    align-items: center;
  }
  #Landing h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  #Landing div {
    width: 25vw;
    height: 50vh;
    display: flex;
    align-items: start;
    justify-content: start;
  }
  #Landing div .clock {
    position: absolute;
    top: 180px;
    right: 20px;
    z-index: 1;
    transition: 1s;
  }
  #Landing div .pomoCat {
    position: absolute;
    top: 180px;
    right: 45px;
    z-index: 0;
    height: 40vh;
    width: auto;
    transition: 1s;
    transform: rotate(0deg);
  }
  #Landing div:active .clock {
    transform: scale(0.9);
  }
  #Landing div:active .pomoCat {
    transform: scale(1);
    margin: 0 0 10em 0;
    top: 50px;
  }
  #Landing div:hover .clock {
    transform: scale(1);
  }
  #Landing div:hover .pomoCat {
    transform: scale(1) rotate(0deg);
    margin: 0 0 0 0;
  }
}/*# sourceMappingURL=App.css.map */