$firstColor: #a9d6ec;
$blue: #58a9ff;
$white: #f2f2f2;
$secondary: #ffffffea;
@mixin flexibility($direction, $align, $justify){
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
@mixin button (){
  background-color: $blue;
  border-radius: 25% 25% 25% 25%;
  border: none;
  color: $white;
  transition: 0.5s;
}
@mixin active-button (){
  background-color: $blue;
  border: 0.8px solid black;
  color: $white;
  border-radius: 25% 25% 25% 25%;
  transform: scale(1.15);
  transition: 0.5s;
}
@mixin sections(){
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
}

#Landing{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
h1{
  font-family: Playfair Display;
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px $white;
}
div{
  margin-top: 50px;
  width: 25vw;
  height: 50vh;
  .clock{
    position: fixed;
    width: auto;
    height: 50vh;
    z-index: 1;
    transition: 1s;
  }
  .pomoCat{
    position: static;
    transform: rotate(135deg);
    z-index: 0;
    height: 50vh;
    width: auto;
    transition: 1s;
  }
}
div:hover{
  .clock{
    transform: scale(1.1);
  }
  .pomoCat{
    transform: scale(0.80) rotate(135deg);
    margin: 13em 0 0 14em;
  }
}
}

#Home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  .container-home, .result-home{
    z-index: 0;
    border: #000 solid 2px;
    background-color: $secondary;
    border-radius: 5%;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .images-back{
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .images-button{
        display: grid;
        grid-template-rows: 140px 140px;
        grid-template-columns: 230px 230px;
        grid-gap: 10px;
        #button-back{
          background-color: $firstColor;
        }
        #button-back:hover{
          background-color: #00c3ff;
        }
        #button-back-active{
          background-color: #3172ff;
        }
        #environment{
          width: 200px;
          margin: 5px;
        }
      }
    }
    .kitty{
      width: 90%;
    }
    #divisores{
      z-index: 1;

      border: #000 solid 1px;
      background-color: #c7f4ff9c;
      border-radius: 6%;
      padding-top: 0;
      padding-bottom: 15px;
      @include flexibility(column, space-around, center);
      width: 80%;
      .config-Timer-time{
        z-index: 10;
        @include sections();
        #time{
          z-index: 20;
          @include button();
          height: 45px;
          font-size: 20px;
        }
        #time:hover{
          cursor: pointer;
        transform: scale(1.18)
      }
      #time-active{
        @include active-button();
        height: 45px;
        font-size: 20px;
      }
    }
    .config-Timer-sessions{
      z-index: 10;
      #Background{
        @include button();
        height: 45px;
        font-size: 20px;
      }
      #Background:hover{
        cursor: pointer;
        transform: scale(1.18)
      }
      #Background-active{
        @include active-button();
        height: 45px;
        font-size: 20px;
      }
      @include sections();
      #sessions{
        @include button();
        height: 45px;
        font-size: 20px;
      }
      #sessions:hover{
        cursor: pointer;
          transform: scale(1.18)
        }
        #sessions-active{
          @include active-button();
          height: 45px;
          font-size: 20px;
        }
      };
}
  
  .btn-start{
    background-color: $blue;
    color: $white;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-radius: 20%;
    transition: 1s;
  }
  .btn-start:hover{
    cursor: pointer;
  }
  .btn-start-disabled{
    background-color: #a9d6ec;
    color: $secondary;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-radius: 20%;
  }
}

};

#Timer{
  width: 100vw;
  height: 100%;
  z-index: 1;
  @include flexibility(column, center, center);
  .buttons-timer{
    position: absolute;
    top: 10px;
    background-color: #27beff7f;
    border-radius: 50%;
    height: 150px;
    img{
      width: 150px;
      transition: 0.3s;
    }
    img:hover{
      cursor: pointer;
    }
    img:active{
      transform: scale(0.8);
    }
  }
  .timer-status{
    margin-top: 10px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 50%;
    height: 10%;
    z-index: 1;
    h2{
      font-family: Playfair Display;
      margin: 0;
      font-size: 70px;
      -webkit-text-fill-color: black;
      -webkit-text-stroke: 1px $white;
    }
  }
  .time{
    height: auto;
    z-index: 1;
    display: flex;
    justify-content: start;
    h1{
      font-family: Playfair Display;
      font-size: 400px;
      -webkit-text-fill-color: black;
      -webkit-text-stroke: 8px $white;
      margin: 0;
    }
  }
    .ProgressBar{
    margin-top: 50px;
    width: 70%;
  }
  
}

#Preview{
  height: 99%;
  border: 3px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  .prev-img{
    img{
      width: 30px;
    }
  }
  .prev-status{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    h3{
      font-family: Playfair Display;
      font-size: 20px;
      -webkit-text-fill-color: black;
      -webkit-text-stroke: 1px $white;
    }
  }
  h3{
      font-family: Playfair Display;
      margin-top: 15px;
      margin-bottom: 20px;
      font-size: 80px;
      -webkit-text-fill-color: black;
      -webkit-text-stroke: 2px $white;
    } 

}

#Videos{
  border: #000 solid 3px;
  height: 250px;
  width: 440px;
  display: flex;
  flex-direction: column;
  .videoloop{
    position: fixed;
    top: 10;
    right: 235px;
    width: 25%;
    height: 30%;
    z-index: -2;
    video{
      height: 250px;
    }
  }
  .text{
    margin-top: 40px;
    .prev-status{
      z-index: 1;
      display: flex;
      flex-direction: row;
      width: 500px;
      justify-content: space-evenly;
      h3{
        font-family: Playfair Display;
        font-size: 20px;
        -webkit-text-fill-color: black;
        -webkit-text-stroke: 1px $white;
    }
  }
  h3{
      font-family: Playfair Display;
      margin-top: 15px;
      margin-bottom: 20px;
      font-size: 80px;
      -webkit-text-fill-color: black;
      -webkit-text-stroke: 2px $white;
    } 
  }
  }

#VideoTimer{
  position: fixed;
  z-index: 0;
}

#Footer{
  border-radius: 20% 20% 20% 20%;
  height: 60px;
  bottom: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff8c;
  #social{
    a{
      margin: 0 10px 0 10px;
    }
  }
  div{
    margin: 0 20px 0 20px;
    h2{
      a{
        font-size: 30px;
        color: #2f91fa;
        -webkit-text-stroke: 0.7px $white;
        text-decoration: none;
      }
    }
  }
  img{
    width: 70px;
  }
}

#backButton{
  position: absolute;
  top: 1vh;
  left: 1vw;
  z-index: 10;
  div{
    width: 100%;
    background: linear-gradient(#2f91fa, #00c3ff);
    border-radius: 50%;
    border: #3172ff solid 3px;
    img{
      width: 5vw;
      padding-right: 4px;
    }
  }
  div:hover{
    cursor: pointer;
    background: linear-gradient(#3b9aff, #33cfff);
  }
}

/* ---------------------------- VERTICAL ---------------------------- */
@media (min-width: 600px) and (max-width: 1024px){
  #Landing{
    h1{
      font-size: 80px;
      margin-bottom: 40px;
    }
    div{
      width: auto;
      .clock{
        z-index: 10;
        transition: 1s;
        position: relative;
      }
      .pomoCat{
        position: absolute;
        margin: 50px 0px 0px -370px;
        z-index: 0;
        height: 40vh;
        transition: 1s;
        transform: rotate(0deg);
      }
    }
    div:active{
      .clock{
        transform: scale(0.9);
      }
      .pomoCat{
        transform: scale(1);
        margin: -150px 0px 0px -370px;
      }
    }
    div:hover{
      .clock{
        transform: scale(1.1);
      }
      .pomoCat{
        transform: scale(1) rotate(0deg);
        margin: -150px 0px 0px -370px;
      }
    }
    
  }

  #Home{
    .container-home, .result-home{
      width: 40vw;
      #divisores{
        width: 80%;
        .config-Timer-time{
          #time{
            height: 45px;
            font-size: 20px;
            width: auto;
          }
          #time-active{
            height: 45px;
            font-size: 20px;
            width: auto;
          }
      }
      .config-Timer-sessions{
        #Background{
          height: 45px;
          font-size: 15px;
          width: auto;
        }
        #Background-active{
          height: 45px;
          font-size: 15px;
          width: auto;
        }
        #sessions{
          height: 45px;
          font-size: 15px;
          width: auto;
        }
          #sessions-active{
            height: 45px;
            font-size: 15px;
            width: auto;
          }
        };
  
      }
      .images-back{
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .images-button{
          display: flex;
          flex-direction: column;
          width: 165px;
          margin-bottom: 20px;
          #button-back{
            background-color: $firstColor;
          }
          #button-back:hover{
            background-color: #00c3ff;
          }
          #button-back-active{
            background-color: #58a9ff;
          }
          #environment{
            width: 140px;
            margin: 5px;
          }
        }
      }
      .kitty{
        height: 110px;
      }
    }

    
  }

  #Timer{
  @include flexibility(column, center, center);
  gap: 30px;
  .timer-status{
    width: 90%;
    h2{
      font-size: 60px;
    }
  }
  .time{
    h1{
      font-size: 230px;
      -webkit-text-stroke: 5px $white;
    }
  }
    .ProgressBar{
    width: 75%;
  }
  
  }
  #backButton{
    div{
      border-radius: 50%;
      border: #3172ff solid 3px;
      img{
        width: 7vw;
        padding-right: 4px;
      }
    }
  }
}

@media (max-width: 590px){
  #Landing{
    h1{
      font-size: 80px;
      margin-bottom: 40px;
    }
    div{
      width: auto;
      .clock{
        z-index: 10;
        height: 40vh;
        transition: 1s;
        position: relative;
      }
      .pomoCat{
        position: absolute;
        height: 35vh;
        margin: 20px 0px 0px -310px;
        z-index: 0;
        transition: 1s;
        transform: rotate(0deg);
      }
    }
    div:active{
      .clock{
        transform: scale(0.9);
      }
      .pomoCat{
        transform: scale(1);
        margin: -150px 0px 0px -310px;
      }
    }
    div:hover{
      .clock{
        transform: scale(0.9);
      }
      .pomoCat{
        transform: scale(1) rotate(0deg);
        margin: -150px 0px 0px -310px;
      }
    }
    
  }

  #Home{
    .container-home, .result-home{
      width: 40vw;
      #divisores{
        width: 80%;
        .config-Timer-time{
          display: grid;
          grid-template-columns: 40% 40%;
          display: flex;
          justify-content: space-around;
          #time{
            height: 45px;
            font-size: 80%;
            width: auto;
          }
          #time-active{
            height: 45px;
            font-size: 70%;
            width: auto;
          }
      }
      .config-Timer-sessions{
        display: grid;
        grid-template-columns: 40% 40%;
        row-gap: 5px;
        #Background{
          height: 45px;
          font-size: 55%;
          display: flex;
          align-self: start;
          width: auto;
        }
        #Background-active{
          height: 45px;
          font-size: 11px;
          width: auto;
        }
        #sessions{
          height: 45px;
          font-size: 55%;
          
        }
          #sessions-active{
            height: 45px;
            font-size: 12px;
            width: auto;
          }
        };
  
      }
      .images-back{
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .images-button{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 110%;
          margin-bottom: 20px;
          #button-back{
            background-color: $firstColor;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          #button-back:hover{
            background-color: #00c3ff;
          }
          #button-back-active{
            background-color: #58a9ff;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          #environment{
            
            width: 100%;
          }
        }
      }
    }

    
  }

  #Timer{
  @include flexibility(column, center, end);
  gap: 30px;
  .time{
    width: 80%;
    display: flex;
    justify-content: center;

    h1{
      font-size: 700%;
      -webkit-text-stroke: 5px $white;
    }
  }
  .timer-status{
    width: 90%;
    h2{
      font-size: 50px;
    }
    margin-bottom: 5vh;
  }
    .ProgressBar{
    width: 80%;
    margin-bottom: 8vh;
  }
  
  }
  #Footer{
    div{
      h2{
        a{
          font-size: 120%;
        }
      }
    }
    img{
      width: 9vw;
    }
  }
  #backButton{
    div{
      border-radius: 50%;
      border: #3172ff solid 3px;
      img{
        width: 7vw;
        padding-right: 4px;
      }
    }
  }
}

/* --------------------------- HORIZONTAL --------------------------- */

@media (max-height: 450px) and (max-width: 1024px){
  #Landing{
    h1{
      font-size: 80px;
      margin-bottom: 40px;
    }
    div{
      width: auto;
      .clock{
        z-index: 10;
        transition: 1s;
        position: relative;
      }
      .pomoCat{
        position: absolute;
        margin: 20px 0px 0px -200px;
        z-index: 0;
        height: 40vh;
        transition: 1s;
        transform: rotate(0deg);
      }
    }
    div:active{
      .clock{
        transform: scale(0.9);
      }
      .pomoCat{
        transform: scale(1);
        margin: -90px 0px 0px -200px;
      }
    }
    div:hover{
      .clock{
        transform: scale(0.9);
      }
      .pomoCat{
        transform: scale(1) rotate(0deg);
        margin: -90px 0px 0px -200px;
      }
    }
    
  }

  #Home{
    .container-home, .result-home{
      width: 40vw;
      #divisores{
        width: 80%;
        height: 20%;
        .config-Timer-time{
          #time{
            height: 30px;
            font-size: 15px;
            width: auto;
            margin-bottom: 5%;
          }
          #time-active{
            height: 30px;
            font-size: 15px;
            width: auto;
            margin-bottom: 5%;
          }
      }
      .config-Timer-sessions{
        #Background{
          height: 30px;
          font-size: 15px;
          width: auto;
          margin-bottom: 5%;
        }
        #Background-active{
          height: 30px;
          font-size: 15px;
          width: auto;
          margin-bottom: 5%;
        }
        #sessions{
          height: 30px;
          font-size: 15px;
          width: auto;
          margin-bottom: 5%;
        }
          #sessions-active{
            height: 30px;
            font-size: 15px;
            width: auto;
            margin-bottom: 5%;
          }
        };
  
      }
      .images-back{
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        margin-right: 10px;
        .images-button{
          display: grid;
          grid-template-rows: 45% 45%;
          grid-template-columns: 80% 80%;
          grid-gap: 10px;
          #button-back{
            background-color: $firstColor;
          }
          #button-back:hover{
            background-color: #00c3ff;
          }
          #button-back-active{
            background-color: #58a9ff;
          }
          #environment{
            width: 95%;
            margin: 5px;
          }
        }
      }
      .kitty{
        height: 20%;
      }
    }

    
  }

  #Timer{
    display: flex;
    justify-content: center;
    align-items: center;
    .buttons-timer{
      position: absolute;
      top: 10px;
      background-color: #27beff7f;
      border-radius: 50%;
      height: 100px;
      img{
        width: 100px;
        transition: 0.3s;
      }
      img:hover{
        cursor: pointer;
      }
      img:active{
        transform: scale(0.8);
      }
    }
    @include flexibility(column, center, center);
    gap: 0px;
    .time{
      margin-top: 50px;
      width: 80%;
      display: flex;
      justify-content: center;
  
      h1{
        font-size: 160px;
        -webkit-text-stroke: 5px $white;
      }
    }
    .timer-status{
      width: 90%;
      h2{
        font-size: 50px;
      }
    }
      .ProgressBar{
      width: 80%;
      margin-bottom: 5vh;
    }
    
    }

  #Footer{
    height: 5%;
    #social{
      a{
        margin: 0 10px 0 10px;
      }
    }
    div{
      margin: 0 5px;
      h2{
        font-size: 15px;
        a{
          font-size: 20px;
          -webkit-text-stroke: 0.7px $white;
        }
      }
    }
    img{
      width: 25px;
    }
  }
  
}
