$firstColor: #a9d6ec;
$blue: #58a9ff;
$white: #f2f2f2;
$secondary: #ffffff;
@mixin flexibility($direction, $align, $justify){
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
@mixin button{
  background-color: $blue;
  border-radius: 25% 25% 25% 25%;
  border: none;
  color: $white;
  height: 45px;
  font-size: 20px;
  transition: 0.5s;
}
@mixin active-button{
  background-color: $blue;
  border: 0.8px solid black;
  color: $white;
  border-radius: 25% 25% 25% 25%;
  height: 45px;
  font-size: 20px;  
  transform: scale(1.15);
  transition: 0.5s;
}
@mixin sections(){
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
}

#Landing{
  // background: linear-gradient($firstColor 70%, #278efc);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
h1{
  font-family: Playfair Display;
  font-size: 80px;
  margin-bottom: 10px;
}
div{
  margin-top: 50px;
  width: 25vw;
  height: 50vh;
  .clock{
    position: fixed;
    width: auto;
    height: 50vh;
    z-index: 1;
    transition: 1s;
  }
  .pomoCat{
    position: static;
    transform: rotate(135deg);
    z-index: 0;
    height: 50vh;
    width: auto;
    transition: 1s;
  }
}
div:hover{
  .clock{
    transform: scale(1.1);
  }
  .pomoCat{
    transform: scale(0.80) rotate(135deg);
    margin: 13em 0 0 14em;
  }
}
}

#Home{
  // background: linear-gradient($firstColor 70%, #278efc);
  width: 100vw;
  height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  .result-home{
    background-color: $secondary;
    border: 3px solid #000;
    width: 30%;
    height: 80%;
  }
  .container-home{
    background-color: $secondary;
    border: 3px solid #000;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    #divisores{
      border: #000 solid 2px;
      @include flexibility(column, space-around, start);
      width: 80%;
      .config-Timer-time{
        
        @include sections();
        #time{
          @include button()
        }
        #time:hover{
          cursor: pointer;
        transform: scale(1.18)
      }
      #time-active{
        @include active-button()
      }
    }
    .config-Timer-sessions{
      @include sections();
      #sessions{
        @include button();
      }
      #sessions:hover{
        cursor: pointer;
          transform: scale(1.18)
        }
        #sessions-active{
          @include active-button()
        }
      };
      
    .config-Timer-background{
      @include sections();
      #color{
        margin-right: 10px;
        width: 48px;
        height: 48px;
        border: 1px solid #000;
        border-radius: 50%;
        transition: 0.5s;
      }
      #color:hover{
        cursor: pointer;
        transform: scale(1.05)
      }
      #color-active{
        border: 3px solid #00c3ff;
        margin-right: 10px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        transform: scale(1.1);
      }
      .default{
      background-color: $firstColor;
    }
    .grey{
      background-color: #4d4d4d;
    }
    .green{
      background-color: #1a9825;
    }
    .blue{
      background-color: #080064;
    }
    .violet{
      background-color: #330b56;
    }
    .dark{
      background-color: #191818;
    }
  }
}
  
  .btn-start{
    background-color: $blue;
    color: $white;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-radius: 20%;
    transition: 1s;
  }
  .btn-start:hover{
    cursor: pointer;
  }
  .btn-start-disabled{
    background-color: #a9d6ec;
    color: $secondary;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-radius: 20%;
  }
}};


#Timer{
  width: 100vw;
  height: 100%;
  @include flexibility(column, center, start);
  .timer-status{
    flex-direction: row;
    display: flex;   
  }
  h1{
    border: solid 1px #000;
    font-size: 300px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 8px $white;
  }
  h2{
    font-size: 50px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px $white;
  }
}

@media (max-width: 720px){
  #Landing{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    align-items: center;
    h1{
      font-size: 40px;
      margin-bottom: 10px;
    }
    div{
      width: 25vw;
      height: 50vh;
      display: flex;
      align-items: start;
      justify-content: start;
      .clock{
        position: absolute;
        top: 180px;
        right: 20px;
        z-index: 1;
        transition: 1s;
      }
      .pomoCat{
        position: absolute;
        top: 180px;
        right: 45px;
        z-index: 0;
        height: 40vh;
        width: auto;
        transition: 1s;
        transform: rotate(0deg);
      }
    }
    div:active{
      .clock{
        transform: scale(0.9);
      }
      .pomoCat{
        transform: scale(1);
        margin: 0 0 10em 0;
        top: 50px;
      }
    }
    div:hover{
      .clock{
        transform: scale(1);
      }
      .pomoCat{
        transform: scale(1) rotate(0deg);
        margin: 0 0 0 0;
      }
    }
  }
}
